.button_block {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.button_block button {
    margin: 10px;
}

.btn_group {
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    color: snow;
    font: 8pt Georgia, serif;
    width: 100%;
}

.form_block_left, .form_block_right {
    width: 45%;
}

.form_block_right_top {
    margin-top: -76px;
    width: 45%;
}

.group_form {
    width: 45%;
}

.input_paid {
    margin-top: 25px;
    width: 100%;
}

.order_form_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order_form {
    height: 630px;
    width: 700px;
}

.order_form_header {
    font-weight: bold;
    text-align: center;
}

.btn_form {
    background-color: #4CAf50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font: 10pt Verdana, serif;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 40%;
}

.btn_form:disabled {
    background-color: darkgray;
    cursor: not-allowed;
}

.btn_form:hover:enabled {
    background-color: #45A049;
}

.btn_open {
    background-color: #267CB5;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    height: 30px;
    font: 10pt Tahoma, sans-serif;
    margin: 5px;
    text-align: center;
    width: 9vw;
}

.btn_open[disabled] {
    background-color: cornflowerblue;
    color: #D3EAFF;
    border: none;
    cursor: not-allowed;
}

.btn_open:hover:enabled {
    background-color: #0056B3;
    color: snow;
}

.btn_submit {
    background-color: #4CAf50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font: 12pt Verdana, serif;
    margin-top: 30px;
    padding: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.btn_submit:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.btn_submit:hover:enabled {
    background-color: #45A049;
}

.err_text {
    color: red;
    font-size: 9pt;
    margin: 2px;
}

.form_block {
    align-items: center;
    background-color: #EDEDED;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}

label {
    font-size: 10pt;
}

.logo_form {
    width: 50%;
}

.login_form {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
    width: 90%;
}

.modal_form {
    background-color: #EDEDED;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font: 12pt Arial, sans-serif;
    left: 50%;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}